{
  "extends": [
    "airbnb"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "no-debugger": "warn",
    "no-use-before-define": "off",
    "no-underscore-dangle": "off",
    "function-paren-newline": "off",
    "no-param-reassign": "off"
  }
}